a {
  color: #2c5fb6;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #ffd500;
  text-decoration: none;
}

img {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

figure figcaption {
  text-align: center;
}

:root {
  --code-bg: rgb(250, 250, 250);
  --border: rgb(250, 250, 250);
}
