<!-- Add fonts/stylesheet.css -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=block"
  rel="stylesheet"
/>
<link
  crossorigin="anonymous"
  href="/fonts/TsangerJinKai-W04.woff2"
  rel="preload"
  as="font"
  type="font/woff2"
/>
<link
  crossorigin="anonymous"
  href="/fonts/stylesheet.css"
  rel="preload stylesheet"
  as="style"
/>
<!-- Add MathJax support -->
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
></script>
<script>
  MathJax = {
    tex: {
      displayMath: [
        ["\\[", "\\]"],
        ["$$", "$$"],
      ], // block
      inlineMath: [["\\(", "\\)"]], // inline
    },
    loader: {
      load: ["ui/safe"],
    },
  };
</script>
